@using myTBsys.Models;
@{
    int type = (int)Session["type"];
    string name = (string)Session["name"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>温大教材征订系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="/sbadmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/sbadmin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/sbadmin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/sbadmin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("css", false)
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">温州大学教材征订系统</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> 
                        <strong>@name &nbsp;</strong>
                         <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a class="udPWD" href="JavaScript:;"><i class="fa fa-gear fa-fw"></i> 修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/TBsys/Login/Index"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a id="indexMenu" href="#"><i class="fa fa-dashboard fa-fw"></i> 首页</a>
                        </li>
                        <li id="teacherMenu" class="hide">
                            <a href="#"><i class="fa fa-graduation-cap fa-fw"></i> 教师<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/TBsys/Teacher/Choose">选择教材</a>
                                </li>
                                <li>
                                    <a href="/TBsys/Teacher/GetList">已填列表</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li id="deanMenu" class="hide">
                            <a href="#"><i class="fa fa-graduation-cap fa-fw"></i> 系主任<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/TBsys/Dean/DeanIndex" id="deaCK">审核教材</a>
                                </li>
                                <li>
                                    <a href="/TBsys/Dean/NoBookList">查看未填教学任务</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li id="stuMenu" class="hide">
                            <a href="#"><i class="fa fa-graduation-cap fa-fw"></i> 学生<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/TBsys/Student/Choose" id="stuCB">订购教材</a>
                                </li>
                                <li>
                                    <a href="/TBsys/Student/GetChoose">已选教材</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li id="jckMenu" class="hide">
                            <a href="#"><i class="fa fa-graduation-cap fa-fw"></i> 教材科<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/TBsys/jiaock/Search">教材订购查询</a>
                                </li>
                                <li>
                                    <a href="/TBsys/jiaock/TeaSearch">教师订购查询</a>
                                </li>
                                <li>
                                    <a href="/TBsys/jiaock/index">教材缴费分发</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li id="jwcMenu" class="hide">
                            <a href="#"><i class="fa fa-graduation-cap fa-fw"></i> 教务处<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/TBsys/jiaowc/index">教材清单查看</a>
                                </li>
                                @*<li>
                                    <a href="/TBsys/workers/add">无法购买处理</a>
                                </li>*@
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> 个人信息<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="udPWD" href="JavaScript:;">修改密码</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">@ViewBag.Title</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                @RenderBody()

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/sbadmin/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/sbadmin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/sbadmin/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/sbadmin/dist/js/sb-admin-2.js"></script>

    <!-- 修改密码Modal -->
    <div id="pwdModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel"><strong>修改密码</strong></h5>
            </div>
            <form id="upForm" role="form">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>旧的密码：</label>
                            <input type="password" name="oldPwd" id="oldPwd">
                        </div>
                        <br />
                        <br />
                        <div class="col-sm-12">
                            <label>新的密码：</label>
                            <input type="password" name="newPwd" id="newPwd">
                        </div>
                        <br />
                        <br />
                        <div class="col-sm-12">
                            <label>再次输入：</label>
                            <input type="password" name="newPwd2" id="newPwd2">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="updatePwd()">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
      </div>
    </div>

    <script>
        
    </script>


    @RenderSection("javascrip", false)
</body>
</html>

<script>
    var temp = @type;
    if (temp == 1) {
        $("#stuMenu").removeClass("hide");
    }else if (temp == 2) {
        $("#teacherMenu").removeClass("hide");
    }else if (temp == 3) {
        $("#teacherMenu").removeClass("hide");
        $("#deanMenu").removeClass("hide");
    }else if (temp == 4) {
        $("#jckMenu").removeClass("hide");
    }else if (temp == 5) {
        $("#jwcMenu").removeClass("hide");
    }

    $("#indexMenu").click(function(){

        if (temp == 1) {
            location.href = "/TBsys/Student/Index";
        }else if (temp == 2) {
            location.href = "/TBsys/Teacher/Index";
        }else if (temp == 3) {
            location.href = "/TBsys/Dean/Index";
        }else if (temp == 4) {
            location.href = "/TBsys/jiaock/Index";
        }else if (temp == 5) {
            location.href = "/TBsys/jiaowc/Index";
        }else if (temp == 6) {
            location.href = "/TBsys/TeachingOffice/Index";
        }
    })

    $(".udPWD").click(function(){
        document.getElementById("upForm").reset(); 
        $("#pwdModal").modal('show');
    })

    function updatePwd(){
        var address;

        var oldPwd = $("#oldPwd").val();
        var newPwd = $("#newPwd").val();
        var newPwd2 = $("#newPwd2").val();

        if(temp == 1)
        {
            address = '/TBsys/Student/UpdatePwd';
        }else if (temp == 2 || temp == 3) {
            address = '/TBsys/Teacher/UpdatePwd';
        }else if (temp == 4) {
            address = '/TBsys/Student/UpdatePwd';
        }else if (temp == 5) {
            address = '/TBsys/Student/UpdatePwd';
        }

        $.post(address,
            {
                "oldPwd":oldPwd,
                "newPwd":newPwd,
                "newPwd2":newPwd2
            },
            function(data){
                if(data.code  == 0)
                {
                    $("#pwdModal").modal('hide');
                    alert("密码修改成功！");
                }else if(data.code == 1)
                {
                    alert("旧密码输入错误！");
                }else if(data.code == 2)
                {
                    alert("请输入相同密码！");
                }else if(data.code == 3)
                {
                    alert("新密码不能为空！");
                }
            })
    }

</script>