
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="/sbadmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="/sbadmin/vendor/metisMenu/metisMenu.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/sbadmin/dist/css/sb-admin-2.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="/sbadmin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   <style>
       
      .ui-timepicker-div.ui-widget-header{ margin-bottom: 8px; } 

        .ui-timepicker-div dl { text-align: left; } 

        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; } 

        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; } 

            .ui-timepicker-div td { font-size: 90%; } 

        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; } 

    .ui_tpicker_hour_label,.ui_tpicker_minute_label,.ui_tpicker_second_label, 

    .ui_tpicker_millisec_label,.ui_tpicker_time_label{padding-left:20px}
      
   </style>
    @RenderSection("css", false)
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/TBsys/TeachingOffice/index">个人后台</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="/TBsys/TeachingOffice/PersonalInfo"><i class="fa fa-user fa-fw"></i> 个人信息</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/TBsys/Login/Index"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/TBsys/TeachingOffice/index"><i class="fa fa-dashboard fa-fw"></i>站内消息</a>
                            @*<a href="~/Areas/Admin/Views/Users/Information.cshtml">~/Areas/Admin/Views/Users/Information.cshtml</a>*@
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 信息管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                
                                <li>
                                    <a href="/TBsys/TeachingOffice/DataIn">数据导入</a>
                                </li>
                                <li>
                                    <a href="/TBsys/TeachingOffice/Time">时间设置</a>
                                </li>
                                <li>
                                    <a href="/TBsys/TeachingOffice/PersonalInfo">个人信息</a>
                                </li>
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/TBsys/TeachingOffice/TeachingTask"><i class="fa fa-dashboard fa-fw"></i>教学任务</a>
                        </li>
                        <li>
                            <a href="/TBsys/TeachingOffice/BookMessage"><i class="fa fa-dashboard fa-fw"></i>教材信息</a>
                        </li>


                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">

                <!-- /.col-lg-12 -->
                <!-- /.row -->
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/sbadmin/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/sbadmin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/sbadmin/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/sbadmin/dist/js/sb-admin-2.js"></script>
    <!-- new -->

    <link href="~/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />  
    <script src="~/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.fr.js"></script>
    <script src="~/moment-develop/min/moment-with-locales.min.js"></script>
    <script src="~/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/moment-develop/locale/zh-cn.js"></script>
</body>
@RenderSection("javascript", false)
</html>

